<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 20;
}

.bg {
  /* The image used */
  background-image: url("images/poya-calendar.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  {% block content %}{% endblock %}
</body>
</html>
