<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> උපෝසථ දින දර්ශනය</a>
      </li>
      <li>
        <a href="https://pitaka.lk/main/"><span class="glyphicon glyphicon-user"></span>ත්‍රිපිටකය </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> භාවනා උපදෙස් <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.facebook.com/groups/339084890046092">ධම්ම විපස්සනා භාවනා මධ්‍යස්‌ථානය </a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://dharmarathnaya.com/%e0%b7%80%e0%b7%99%e0%b6%b1%e0%b6%ad%e0%b7%8a-%e0%b6%b0%e0%b6%bb%e0%b7%8a%e0%b6%b8-%e0%b6%9c%e0%b7%8a%e2%80%8d%e0%b6%bb%e0%b6%b1%e0%b7%8a%e0%b6%ae/"><span class="glyphicon glyphicon-book"></span> දහම් පොත් </a>
      </li>
    </ul>
  </div>
</nav>
